<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Breweries</servlet-name>
    <servlet-class>jub.web.BreweriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Brewery</servlet-name>
    <servlet-class>jub.web.BreweryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Util</servlet-name>
    <servlet-class>jub.web.UtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Breweries</servlet-name>
    <url-pattern>/brasserie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Brewery</servlet-name>
    <url-pattern>/brasserie/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Util</servlet-name>
    <url-pattern>/util/brasserie/reset</url-pattern>
  </servlet-mapping>
</web-app>
